.mainBlock{
	float: left;
	padding: 5px;
	margin: 5px;
}
.footterBlock{
	padding: 5px;
	margin: 5px;
	display:inline-block;
}
.thirdBlock{
	padding: 5px;
	margin: 5px;
	width: 55vh;
	text-overflow: ellipsis;
}
.secondBlock{
	padding: 5px;
	margin: 5px;
	display:inline-block;
}
.firstBlock{	
	float:left;
	padding: 5px;
	margin: 5px;
}
.block{
	border:3px groove black;
	padding: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.duelBlock{
	margin-top:30px;
}
.width-object{
	width:100%;
}
.admin-controle{
float:left;
background:green;
color:white;
}
.text-field{
padding-left:15px;
padding-right: 10px;
font-weight:bold;
font-style:Impact, fantasy;
font-size: 25px;
color:#ffffff;
font-family:Courier New;
font-size:28px;
font-weight:bold;
text-decoration:none;
text-shadow:0px 1px 0px #528009;
}
.button-admin{
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:Courier New;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.static-object{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:28px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.static-panel{
padding-top:10px;
float:left;
width: 100%;
background:green;
color:white;
}

.radio-button-panel{
margin-left:15px;
font-weight:bold;
font-style:Impact, fantasy;
font-size: 25px;
}
body{
background:green;
margin:0px;
float:left;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.65px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #89c403;
  border-radius: 0px;
  border: 0.4px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #89c403;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #89c403;
  border-radius: 0px;
  border: 0.4px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #89c403;
  border: 0.4px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #89c403;
  border: 0.4px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 16.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #89c403;
}
input[type=range]:focus::-ms-fill-upper {
  background: #89c403;
}